<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1{ 
            color:red;
            background:black;
        }
        p{
            color:cyan;
            background:pink;
            padding:5px;
            border-radius: 5px;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="hammad">
    <p>Hii how are you</p>
   {% block content %}
    {% endblock %}

</body>
</html>